{%extends 'base.html'%}
{% if error %}
<script >
        alert('{{ error }}');

</script>
{% endif %}
</head>
	{% block head %}
    	<title>Login Page</title>
    {% endblock %}
  <body>
  {%block body%}
  <div class="row " style="height:150px;"></div>
  <div class="row ">
                <div class=" col s6 offset-s3 ">
                  <div class="card center-align">
                    <div class="card-content">
                      <span class="card-title"><h3>Login</h3></span>
                      <!--jqueryvalidation-->
          <div id="jqueryvalidation" class="section">
            <div class="row">
              <div class="col s12 m12 l12">
                  <div class="col s12 m12 l6">
                        <div class="card-panel">
                            <h4 class="header2">Validations example</h4>
                            <div class="row">
                                <form class="formValidate" id="formValidate" method="get" action="">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label for="uname">Username*</label>
                                            <input id="uname" name="uname" type="text" data-error=".errorTxt1">
                                            <div class="errorTxt1"></div>
                                        </div>
                                        <div class="input-field col s12">
                                          <label for="cemail">E-Mail *</label>
                                          <input id="cemail" type="email" name="cemail" data-error=".errorTxt2">
                                          <div class="errorTxt2"></div>
                                        </div>
                                        <div class="input-field col s12">
                                          <label for="password">Password *</label>
                                          <input id="password" type="password" name="password" data-error=".errorTxt3">
                                          <div class="errorTxt3"></div>
                                        </div>
                                        <div class="input-field col s12">
                                          <label for="cpassword">Confirm Password *</label>
                                          <input id="cpassword" type="password" name="cpassword" data-error=".errorTxt4">
                                          <div class="errorTxt4"></div>
                                        </div>
                                        <div class="input-field col s12">
                                            <label for="curl">URL *</label>
                                            <input id="curl" type="url" name="curl" data-error=".errorTxt5">
                                            <div class="errorTxt5"></div>
                                        </div>
                                        <div class="col s12">
                                            <label for="crole">Role *</label>
                                            <select class="error browser-default" id="crole" name="crole" data-error=".errorTxt6">
                                        <option value="" disabled selected>Choose your profile</option>
                                        <option value="1">Manager</option>
                                                <option value="2">Developer</option>
                                                <option value="3">Business</option>
                                      </select>
                                      <div class="input-field">
                                          <div class="errorTxt6"></div>
                                      </div>
                                        </div> 
                                        <div class="input-field col s12">
                                            <textarea id="ccomment" name="ccomment" class="materialize-textarea validate" data-error=".errorTxt7"></textarea>
                                            <label for="ccomment">Your comment *</label>
                                            <div class="errorTxt7"></div>
                                        </div>
                                        <div class="col s12">
                                            <label for="genter_select">Gender *</label>
                                            <p>
                                              <input name="cgender" type="radio" id="gender_male" data-error=".errorTxt8"/>
                                              <label for="gender_male">Male</label>
                                            </p>
                                            <p>
                                              <input name="cgender" type="radio" id="gender_female" value="f"/>
                                              <label for="gender_female">Female</label>
                                            </p>
                                            <div class="input-field">
                                                <div class="errorTxt8"></div>
                                            </div>
                                  </div>
                                  <div class="col s12">
                                      <label for="tnc_select">T&C *</label>
                                      <p>
                                          <input type="checkbox" class="checkbox" id="cagree" name="cagree" data-error=".errorTxt9" /> 
                                          <label for="cagree">Please agree to our policy</label>
                                       </p>
                                            <div class="input-field">
                                                <div class="errorTxt6"></div>
                                            </div>
                                  </div>
                                        <div class="input-field col s12">
                                            <button class="btn waves-effect waves-light right submit" type="submit" name="action">Submit
                                              <i class="mdi-content-send right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>

                        <form class="container " method="post" action="postsignin/">
                          <div class = "row">
                            {% csrf_token %}

                            <div class="input-field inline col s12">
                              <input id="email" type="email" class="validate" name="email">
                              <label for="email" data-error="wrong" data-success="right">Email</label>
                            </div>
                            <div class="input-field col s12">
					          <input id="password" type="password" class="validate" name="password">
					          <label for="password">Password</label>
        					</div>
                            <div class="input-field col m6">
                              <button class="btn waves-effect waves-light" name="action" onClick="setTimeout(Materialize.toast('Please verify your email id ', 4000)", 3000)>
                                Login<i class="material-icons right">send</i>
                              </button>
                            </div>
                          </div>
                        </form>


                    </div>

                  </div>
                </div>
              </div>


     
{%endblock%}
