{% if error %}
<script >
        alert('{{ error }}');

</script>
{% endif %}
<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="utf-8">
    {% block head %}
      <title>Base Page</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'white.css'%}" type = "text/css">

  </head>

  <body>
    {% block body %}
      <div class="row " style="height:150px;"></div>
      <div class="row ">
        <div class=" col s6 offset-s3 ">
          <div class="card center-align">
            <div class="card-content">
              <span class="card-title">Welcome to Ticketology</span>
              <form class="container " method="post">
                <div class="row " style="height:30px;"></div>
                <div class = "row">
                  {% csrf_token %}
                  <div class="input-field col m6">
                    <button class="btn btn-large waves-effect waves-light center-align" type="submit" name="action" formaction="signin/">
                      Login<i class="material-icons right">send</i>
                    </button>
                  </div>
                  <div class="input-field col m6">
                    <button class="btn red btn-large waves-effect waves-dark center-align" type="submit" name="action" formaction="signup/">
                      Signup<i class="material-icons right">send</i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


    {% endblock %}
    <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript">
  Materialize.toast("I am not a toast", 2000);
  $(document).ready(function(){
    $("#formValidate").validate({
            rules: {
                uname: {
                    required: true,
                    minlength: 5
                },
                cemail: {
                    required: true,
                    email:true
                },
                password: {
            required: true,
            minlength: 5
          },
          cpassword: {
            required: true,
            minlength: 5,
            equalTo: "#password"
          },
          curl: {
                    required: true,
                    url:true
                },
                crole:"required",
                ccomment: {
            required: true,
            minlength: 15
                },
                cgender:"required",
          cagree:"required",
            },
            //For custom messages
            messages: {
                uname:{
                    required: "Enter a username",
                    minlength: "Enter at least 5 characters"
                },
                curl: "Enter your website",
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
              var placement = $(element).data('error');
              if (placement) {
                $(placement).append(error)
              } else {
                error.insertAfter(element);
              }
            }
         });
});
</script>

  </body>


</html>
